<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2014 Liaison Technologies, Inc.
    This software is the confidential and proprietary information of
    Liaison Technologies, Inc. ("Confidential Information").  You shall
    not disclose such Confidential Information and shall use it only in
    accordance with the terms of the license agreement you entered into
    with Liaison Technologies.

-->
<configuration status="WARN" verbose="false">

    <appenders>
        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="true">
            <PatternLayout pattern="%highlight{%d [%t] %C{1} %-5level: %msg | %X%x%n%throwable}" />
        </Console>
    </appenders>

    <loggers>
        <root level="DEBUG">
            <appender-ref ref="Console" />
        </root>
    </loggers>

</configuration>