<?xml version="1.0" encoding="UTF-8"?>

<configuration status="WARN" verbose="false">

    <appenders>
        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="true">
            <PatternLayout pattern="%highlight{%d [%t] %C{1} %-5level: %msg | %X%x%n%throwable}" />
        </Console>
    </appenders>

    <loggers>
        <root level="DEBUG">
            <appender-ref ref="Console" />
        </root>
    </loggers>

</configuration>